XTerm*foreground: PaleGreen2
XTerm*background: black
XTerm*scrollBar: false
XTerm*saveLines: 512
XTerm*fastScroll: true
XTerm*font: -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
XTerm*boldFont: -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

XLock.mode: blank
